body {
    background-color: #d3d0cc;
    margin: 0;
    padding: 0;

}

.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #dbd2b7;
    margin: 0 50px;


}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 25px;
    margin: 0 25px;
}

.container-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    width: 400px;
    height: 200;
    padding: 20px;
    background-color: #fffbf1f6;
    margin: 10px;
    text-align: center;
    position: relative;

}

.box .producto{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 5em;
    opacity: 0;
}

.box:hover .producto{
    opacity: 1;
}

.titul{
    text-align: center;

}
footer{
    display: flex;
    justify-content: space-between;
  margin: 0 25px;
}
footer li{
    display: inline-block;
    padding: 20px;
}

.input{
    width: 200;
    height: 300;
}

.like{
    display: flex;
 
}